<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head")%>
<body>
  <form action="/admin/panel" method="POST">
    <div class="form-group">
    <label for="id">Kullanıcı ID</label>
    <input type="ID" id="ID" name="ID" class="form-control" placeholder="Enter User ID"/>
    <label for="id">Coin</label>
    <input type="Coin" id="Coin" name="Coin" class="form-control" placeholder="Enter New Coin"/>

  <input type="submit" value="Submit">

</div>

  </div>
  </html>